<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./templates/head.ejs %>
</head>

<body>
    <!-- Header -->
    <% include ./templates/header.ejs %>

    <!-- LOGIN -->
    <% include ./login/login_login.ejs %>

    <!-- FOOTER -->
    <% include ./templates/footer.ejs %>
</body>
<% include ./templates/header_script.ejs %>
</html>