<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./templates/head.ejs %>
</head>

<body>
    <!-- Header -->
    <% include ./templates/header.ejs %>

    <!-- Banner -->
    <% include ./templates/banner.ejs %>

    <!-- BEST PRODUCT -->
    <% include ./release/release_info.ejs %>

    <!-- FOOTER -->
    <% include ./templates/footer.ejs %>
</body>
<% include ./templates/header_script.ejs %>
</html>