<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./templates/head.ejs %>
</head>

<body>
    <!-- Header -->
    <% include ./templates/header.ejs %>

    <!-- BEST PRODUCT -->
    <% include ./release/release_detail.ejs %>

    <!-- FOOTER -->   
    <% include ./templates/footer.ejs %>
</body>

</html>