<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./templates/head.ejs %>
</head>

<body>
    <!-- Header -->
    <% include ./templates/header.ejs %>

    <!-- LOGIN -->
    <% include ./signin/signin_signin.ejs %>

    <!-- FOOTER -->
    <% include ./templates/footer.ejs %>
</body>

</html>